{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}尚硅谷书城-登录{% endblock title %}
{% block header_con %}{% endblock header_con %}
{% block search_bar %}{% endblock search_bar %}
{% block body %}
<!--{% verbatim %}-->
    <div class="login_top clearfix">
        <a href="#" class="login_logo"><img src="{% static "images/logo.png" %}" style="width: 160px; height: 53px;"></a>   
    </div>
    <div class="login_form_bg" id="app">
        <div class="login_form_wrap clearfix">
            <div class="login_banner fl"></div>
            <div class="slogan fl">学计算机 · 来尚硅谷</div>
            <div class="login_form fr">
                <div class="login_title clearfix">
                    <h1>用户登录</h1>
                    <a href="#">立即注册</a>
                </div>
                <div class="form_input">
                <input type="text" v-model="username" class="name_input" placeholder="请输入用户名">
                    <div class="user_error">输入错误</div>
                    <input type="password" v-model="password" class="pass_input" placeholder="请输入密码">
                    <div class="pwd_error">输入错误</div>
                    <div class="more_input clearfix">
                        <input type="checkbox" v-model="remember">
                        <label>记住用户名</label>
                        <a href="#">忘记密码</a>
                    </div>
                        <input type="button" id="btnbutton" @click="submit" value="登录" class="input_submit">
                </div>
            </div>
        </div>
    </div>
<!--{% endverbatim %}-->
{% endblock body %}
{% block bottom %}
<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
<script>
var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!',
    username: '',
    password: '',
    remember: false,
  },
  methods: {
    submit () {
      var params = {
        username: this.username,
        password: this.password,
        remember: this.remember,
      }
      axios.post('/users/login_check/', params 
      )
      .then(function (response) {
        console.log(response);
        <!--location.href = resonse.next_url-->
        window.location.href = "../../"
      })
      .catch(function (error) {
        console.log(error);
      });
    }
  }
})
</script>
{% endblock bottom %}
